body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 30px 0;
}
section {
    background-color: #fff;  
    padding: 20px;           
    margin: 20px auto;       
    max-width: 800px;       
    border-radius: 8px;      
    text-align: left;
}

section h2 {
    margin-bottom: 10px;
}
section ul {
    padding-left: 20px;
    margin-top: 5px;
}
section ul li {
    margin: 5px 0;
    font-weight: normal;
}
footer {
    background-color: #000;
    color: white;
    padding: 10px;
    text-align: center;
}

















